:root {
  /* Primary */
  --lime-green: hsl(163, 72%, 41%);
  --bright-red: hsl(356, 69%, 56%);

  --facebook: hsl(208, 92%, 53%);
  --twitter: hsl(203, 89%, 53%);
  --instagram: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
  --youtube: hsl(348, 97%, 39%);

  /* Dark Theme */
  --toggle: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));

  /* Light Theme */
  --Toggle: hsl(230, 22%, 74%);

  /* Neutral */

  /* Dark Theme */
  --very-dark-blue: hsl(230, 17%, 14%); /* background */
  --very-dark-blue-top: hsl(232, 19%, 15%); /* Top BG Pattern */
  --dark-desaturated-blue: hsl(228, 28%, 20%); /* card bg */
  --desaturated-blue: hsl(228, 34%, 66%); /* text */
  --white: hsl(0, 0%, 100%); /* text */

  /* Light Theme */
  --white: hsl(0, 0%, 100%); /* bg */
  --very-pale-blue: hsl(225, 100%, 98%); /* top bg pattern */
  --light-grayish-blue: hsl(227, 47%, 96%); /* card bg */
  --dark-grayish-blue: hsl(228, 12%, 44%); /* text */
  --very-dark-blue-text: hsl(230, 17%, 14%); /* text */
}

@media (max-width: 500px) {
  body::before {
    height: 340px;
  }
}
@media (min-width: 700px) {
  header {
    padding: 30px 80px 0 100px;
  }
  .followers-track {
    padding: 0 100px;
  }
  .heading-2 {
    padding-left: 100px;
    margin-top: 50px;
  }
  .today-overview-container {
    padding: 0 100px;
  }
}
@media (min-width: 1000px) {
  header {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 50px 80px 0 80px;
  }
  header hr {
    display: none;
  }
  .toggle-btn {
    margin-right: 10px;
  }

  .followers-track {
    padding: 0 80px;
    justify-content: space-between;
    margin-top: 70px;
  }
  .social-media-card {
    width: 48%;
    margin-bottom: 40px;
  }
  .social-media-card:not(:first-child) {
    margin-top: 0;
  }

  .heading-2 {
    padding-left: 80px;
  }

  .today-overview-container {
    justify-content: space-between;
    padding: 0 80px;
  }
  .card:not(:last-child) {
    margin-bottom: 30px;
  }
  .card {
    width: 43.5%;
    margin-bottom: 30px;
  }
}

@media (min-width: 1250px) {
  .social-media-card {
    width: 23%;
    margin-bottom: 40px;
  }

  .heading-2 {
    margin-top: 0px;
  }

  .today-overview-container {
    margin-bottom: 0;
  }
  .card {
    width: 19.5%;
  }
}

@media (min-width: 1350px) {
  header {
    padding: 60px 100px 0 100px;
  }
  .heading-2 {
    padding-left: 100px;
    margin-bottom: 20px;
  }
  .followers-track {
    padding: 0 100px;
    margin-top: 50px;
  }
  .social-media-card {
    margin-bottom: 30px;
  }
  .today-overview-container {
    padding: 0 100px;
  }
  .card {
    width: 20%;
  }
}

@media (min-width: 1600px) {
  header {
    padding: 60px 120px 0 120px;
  }

  .heading-2 {
    margin-top: 10px;
    margin-bottom: 40px;
    padding-left: 120px;
  }

  .followers-track {
    padding: 0 120px;
    justify-content: space-between;
    margin-top: 70px;
  }

  .today-overview-container {
    justify-content: space-between;
    padding: 0 120px;
  }
  .card {
    width: 20.7%;
  }
}
